@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.Email"></label>
                <input asp-for="RegisterViewModel.Email" class="form-control" />
                <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.Password"></label>
                <input asp-for="RegisterViewModel.Password" class="form-control" />
                <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.ConfirmPassword"></label>
                <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="RegisterViewModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.Nickname"></label>
                <input asp-for="RegisterViewModel.Nickname" class="form-control" />
                <span asp-validation-for="RegisterViewModel.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="RegisterViewModel.IsPrivate" />
                    <label asp-for="RegisterViewModel.IsPrivate"></label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.Bio"></label>
                <textarea asp-for="RegisterViewModel.Bio" class="form-control" rows="5" style="resize: none;"></textarea>
                <span asp-validation-for="RegisterViewModel.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.BirthDate"></label>
                <input asp-for="RegisterViewModel.BirthDate" class="form-control" type="date"/>
                <span asp-validation-for="RegisterViewModel.BirthDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>We are glad to see you on PhotoSN!</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Our team is happy to welcome you on the best photo sharing platform :)
                        </p>
                        <div class="form-group">
                            <p>
                                Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
