@page
@model AvatarsHistoryModel
@{
    ViewData["Title"] = "Profile pictures history";
    ViewData["ActivePage"] = ManageNavPages.AvatarsHistory;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <p hidden="@(!Model.ManageAvatarsHistoryViewModels.Any())">If you're looking for the option to upload a new profile picture you can find it on "Profile picture" tab.</p>
        <p hidden="@(Model.ManageAvatarsHistoryViewModels.Any())">You haven't uploaded a profile picture yet. You can do it on "Profile picture" tab.</p>
        <form id="avatar-form" method="post">
            <input asp-for="@Model.ImageId" type="hidden" id="imageId" />
            <input asp-for="@Model.IsOperationChange" type="hidden" id="isOperationChange" />
            <div class="form-group">
                <ul>
                    @foreach (var avatarsHistoryInputModel in Model.ManageAvatarsHistoryViewModels)
                    {
                        <li>
                            <ul style="list-style:none; padding:0;">
                                <li>
                                    @if (avatarsHistoryInputModel.IsCurrent)
                                    {
                                        <p>Current</p>
                                    }
                                    else
                                    {
                                        <button onclick="ChangeAvatar(@avatarsHistoryInputModel.ImageId)"
                                                type="submit"
                                                class="btn btn-link">
                                            Make current
                                        </button>
                                    }
                                </li>
                                <li>
                                    <img src="@Url.Action("GetImage", "Images", new { id=avatarsHistoryInputModel.ImageId })" />
                                </li>
                                <li>
                                    <button onclick="DeleteAvatar(@avatarsHistoryInputModel.ImageId)"
                                            type="submit"
                                            class="btn btn-danger"
                                            style="margin: 5px 0 0 0;">
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </form>
    </div>
</div>


<script>
    function ChangeAvatar(imageId) {
        $("#imageId").val(imageId);
        $("#isOperationChange").val(true);
    }
    function DeleteAvatar(imageId) {
        $("#imageId").val(imageId);
        $("#isOperationChange").val(false);
    }
</script>