@model PhotoSN.Data.Dtos.GetPostDto

@{
    ViewData["Title"] = "Post from" + Model.User.Nickname;
}

@section Styles {
    <style>
        .GetPostImage {
            max-height: 200px;
            max-width: 200px;
            border-radius: 10px;
        }
    </style>
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageIds)
        </dt>
        <dd class="col-sm-10">
            @foreach (var imageId in Model.ImageIds)
            {
                <img class="GetPostImage" src="@Url.Action("GetImage", "Images")/@imageId" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentsAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentsAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LikesAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LikesAmount)
        </dd>
    </dl>
</div>
