@model PhotoSN.Data.Dtos.GetPostDto

@{
    ViewData["Title"] = "Post from" + Model.User.Nickname;
}

@section Styles {
    <style>
        .GetPostImage {
            max-height: 200px;
            max-width: 600px;
            margin: 1px;
            border-radius: 20px;
        }

        .PostAvatarImage {
            height: 40px;
            width: 40px;
            border-radius: 40px;
        }
    </style>
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <img class="PostAvatarImage"
                 src="@Url.Action("GetImage", "Images", new { id=Model.User.AvatarImageId })"
                 onerror="this.onerror=null;this.src='/defaultmedia/defaultavatar.jpeg';" />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageIds)
        </dt>
        <dd class="col-sm-10">
            @foreach (var imageId in Model.ImageIds)
            {
                <img class="GetPostImage" src="@Url.Action("GetImage", "Images")/@imageId" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentsAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentsAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Likes.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Likes.Count)
        </dd>
    </dl>
</div>
